<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>Are you sure you want to delete {{title}}?</h1>
    <form action='/' name="cancel">
        <input type="submit" value="Cancel" style="background-color: red">
    </form>
    <form action ="/destroy/{{id}}" name="confirmed">
        <input type="submit" value="Delete Book" style="background-color: green">
    </form>
</body>