<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>Quotes from {{book[0]['title']}}</h1>
    {% for quote in quote_list: %}
    " {{quote['quote']}} "
    {% endfor %}
<form action='/'>
    <input type="submit" value="Back to Books">
</form>
</body>